version: "3.8"

services:

  eureka-server:
    image: steeltoeoss/eureka-server:latest
    ports: ["18762:8761"]
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  timescaledb:
    image: timescale/timescaledb:2.14.0-pg15
    ports: ["15434:5432"]
    environment:
      POSTGRES_DB: aquawatch
      POSTGRES_USER: aquawatch
      POSTGRES_PASSWORD: example
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aquawatch"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgis:
    image: postgis/postgis:15-3.4
    ports: ["15435:5432"]
    environment:
      POSTGRES_DB: aquawatch_gis
      POSTGRES_USER: aquawatch
      POSTGRES_PASSWORD: example
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aquawatch"]
      interval: 10s
      timeout: 5s
      retries: 5

  mosquitto:
    image: eclipse-mosquitto:2.0
    ports: ["11884:1883"]
    healthcheck:
      test: ["CMD-SHELL", "exit 0"]

  ollama:
    image: ollama/ollama:latest
    ports: ["11135:11434"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434/api/tags"]
      interval: 20s
      retries: 5

  anomaly_detector:
    build: ./anomaly_detector
    ports: ["18003:8001"]
    depends_on:
      timescaledb:
        condition: service_healthy
      mosquitto:
        condition: service_started
      eureka-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 20s
      retries: 5

  api_sig:
    build: ./api-sig
    ports: ["18002:8000"]
    depends_on:
      postgis:
        condition: service_healthy
      timescaledb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/health"]
      interval: 20s
      retries: 5

  api_service:
    build: ./api_service
    ports: ["18001:8000"]
    depends_on:
      anomaly_detector:
        condition: service_healthy
      ollama:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/status"]
      interval: 20s
      retries: 5

  satellite_processor:
    build: ./satellite_processor
    ports: ["18004:5000"]
    depends_on:
      eureka-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/satellite_processor/health"]
      interval: 30s
      retries: 5

  sensor_simulator:
    build: ./sensor_simulator
    depends_on:
      anomaly_detector:
        condition: service_healthy

  web_unifiee:
    build: ./web-unifiee
    ports: ["10081:80"]
    depends_on:
      api_service:
        condition: service_healthy
      api_sig:
        condition: service_healthy

volumes:
  tsdata_ci:
  postgis_data_ci:
